.bg_login{
  background-image: url('/assets/images/img-8.jpg');
  background-size: cover;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
 
}
.bg_text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid rgba(0,0,0, 0.2)e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title_login{
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0;
}
.btn_login{
  box-shadow: white 0px 7px 29px 0px;
  padding: 10px 80px;
  border:none;
  font-size: 35px;
  border-radius: 10px;
  background-color: #0d6efd;
  color: white;
}
.facebook{
  color: white;
  font-size: 45px;
  margin-right: 12px;
}
.red{
  color: #FFC312;
  font-weight: 600;
  
}
.text{
  font-weight: 100 !important;
  
}
.btn_submit{
  padding: 10px 75px;
  border-radius: 12px;
  font-size: 25px;
  width: 100%;
  box-shadow: white 0px 7px 29px 0px;
}
.form-group{
  font-size: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  
}

.form-control{
  padding-left: 20px;
  font-size: 26px;
}