.btn-navbar{
    border:none;
    background-color: transparent;
    padding:10px 40px;
    font-size: 18px;
    color: #487eb0;
}
.active button,.btn-navbar:hover{
    color: #ffb142;
    border-bottom: 3px solid #ffb142;
    font-weight: bold;
}
#btn-wrap{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding:0;
    margin: 0 auto;
    background-color: #a4b0be;
    // margin-top: 30px;
    // border-bottom: grey 1px solid;
    text-align: center;
}
.location-wrap{
    padding:20px 0;
    justify-content: center;
    align-items: center;
}
.location-title-wrap{
    margin-right: 30px;
}
.location-title{ 
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #2f3542;
}
.favourite-wrap button{
    border:none;
    background-color: transparent;
    padding: 0;
}
.heart{
    color: #c23616;
    font-size: 30px;
}
.heart-btn{
    color: #c23616;
    margin-right: 4px;
}
.favourite-wrap{
    display: flex;
    align-items: center;
}
.shareEmail{
    display: flex;
    align-items: center;
}
.gmail{
    color: #c23616 ;
    font-size: 30px;
}