.btn-navbar{
    border:none;
    background-color: transparent;
    padding:10px 40px;
    font-size: 23px;
}
.active button,.btn-navbar:hover{
    color: #ffb142;
    border-bottom: 3px solid #ffb142;
    font-weight: bold;
}
#btn-wrap{
    display: flex;
    justify-content: space-evenly;
    padding:0;
    margin: 0 auto;
    // margin-top: 30px;
    border-bottom: grey 1px solid;
    text-align: center;
}
.location-wrap{
    padding:20px 0;
    justify-content: center;
    align-items: center;
}
.location-title-wrap{
    margin-right: 30px;
}
.location-title{ 
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.favourite-wrap button{
    border:none;
    background-color: transparent;
}
.heart{
    color: red;
    font-size: 30px;
}
.facebook{
    color: #2e86de;
    font-size: 30px;
}