
  .weather-container{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
     box-sizing: inherit; 
     margin-bottom: 18px; 
     padding: 20px; 
     box-sizing: inherit; 
     line-height: 1.6em; 
     padding: 25px; 
     background-color: white;
     
}

.Box-span{
    box-sizing: inherit; 
    font-weight: 700; 
    line-height: 2.0em;
    color: #222222;
}

.cur-con-weather-card__title {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    text-transform: uppercase;
   
}

.date-title-wrap p{
    margin:0;
}

.cur-con-weather-card__subtitle {
    opacity: .6;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
}

.cur-con-weather-card .forecast-container {
    display: flex;
    justify-content: center;
    margin-right: 24px;
}
.cur-con-weather-card .forecast-container:nth-of-type(1){
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}
.cur-con-weather-card .forecast-container:nth-of-type(2),.cur-con-weather-card .forecast-container:nth-of-type(3){
    flex-grow: 3;
}
.astro-wrap .forecast-container:nth-of-type(1),.astro-wrap .forecast-container:nth-of-type(2){
    flex-grow: 1;
}
.air-quality .forecast-container:nth-of-type(1),.air-quality .forecast-container:nth-of-type(2){
    flex-grow: 1;
}
.astro-wrap,.air-quality{
    width: 70%;
    margin: auto;
    
}
.cur-con-weather-card .forecast-container .weather-icon {
    width: 80px;
    height: 80px;
    margin-right: 12px;
}

.cur-con-weather-card .forecast-container .temp {
    font-size: 84px;
    letter-spacing: -.7px;
    font-weight: 500;
    line-height: 1.07;
}

.cur-con-weather-card .forecast-container .after-temp {
    opacity: .6;
    line-height: 1.28;
    font-size: 24px;
    margin-left: -24px;
}

.cur-con-weather-card .forecast-container .real-feel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
}

.cur-con-weather-card {
    color: #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

table td{
    text-align: right;
}
.air-quality-title{
    margin:auto;
    padding-bottom: 18px;
}

